*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Utilities */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.col{
    width: calc(100% / 3);
}

.justify-end{
    justify-content: end;
}

.justify-center{
    justify-content: center
}

.justify-space{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    width: 95%;
    margin: auto;
}

.card{
    margin: 0.1rem;
    position: relative;
    width: calc(2 * 12);
    margin-top: 0.4rem;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.text{
    color: white;
    line-height: 1.5rem;
    background-color: #63707e;
    position: absolute;
    bottom: 2.7%;
    font-size: 13px;
    padding: 0.2rem;
}

.gap25{
    gap: 0.25rem;
}

.gap1{
    gap: 1rem;
}

.my-left{
    margin-left: 0.7rem;
}

.my-left1{
    margin-left: 0.2rem;
}

.col1{
    width: 25%;
}

.col2{
    width: 50%;
}
/* Header */

header{
    background-color: black;
    height: 40px;
}

header div{
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    background-color: #4a4a4a;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

/* Main */

main{
    background-color: black;
    height: calc(100vh - 94px);
    overflow: auto;
}

/* Footer */

footer{
    background-color: #222222;
    height: 54px;
    color: white;
}

.icon i{
    padding: 0.25rem;
}

.textend{
    background-color: red; 
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 0.2rem;
}

